* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {

    padding: 1%;
}

header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1, h2, h3  {

    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {

    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
}

h2 {

    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    letter-spacing: initial;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {

    line-height: 145%;
    width: 70%;
    margin: 25px auto;
    margin-bottom: 30px;
}

.box p {

    font-size: 90%;
    line-height: 145%;
    /* text-justify: newspaper; */

}

.hero-text-box {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%, -50%);
}

.btn:link, .btn:visited, input[type='submit'] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; 
    border-radius: 200px;
    transition: all .2s;
    margin-right: 15px;
    
}

.btn-full:link, .btn-full:visited, input[type='submit'] {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    transition: all .2s;
}

.btn-full:hover, .btn-full:active, input[type='submit']:hover, input[type='submit']:hover, input[type='submit']:active {
    background-color: #cf6d17;
    border: 1px solid #e67e22;
    cursor: pointer;
    
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover, .btn-ghost:active {
    color: #fff;
    background-color: #e67e22;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 60px;
    width: auto;
    float: left;
    margin-top: 5px;
}



.sticky {

    position: fixed;
    background-color: #fff;
    color: #888;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: none;
    z-index: 9999;
    box-shadow: 0 2px 2px #888;


}
.sticky .main-nav {
    margin-top: 24px;
}

.sticky .logo-black {display: block;}
.sticky .logo {display: none;}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    padding: 3px 0;
    color: #555;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s;

}

.main-nav li a:hover, .main-nav li a:active {

    border-bottom: 2px solid #e67e22;

}

/* --------------------------- */
/* Section meals */
/* --------------------------- */

.section-meals {
    
    padding: 0;
}


.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {

    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: .7;;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* --------------------------- */
/* HOW IT WORKS */
/* --------------------------- */

.step-box {

    margin-top: 30px;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.step-box:last-child {

    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    /* display: inline-block; */
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    font-size: 150%;
    padding: 5px;
    margin-right: 25px;
}

.works-step p {
    padding: 12px 0;
}

.works-step p:nth-child(1) {
    padding: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link, .btn-app:visited {
    border: 0;
}

.section-steps {
    background-color: rgb(250, 250, 250);
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {

    margin-bottom: 5px;

}

.icon-small {

    display: inline-block;
    width: 30px;
    height: auto;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 2px;
    transition: border-bottom .2s, color .2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
/*----------------------------------*/
/*section customers*/
/*---------------------------------*/

.section-testimonials {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    

}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201c";
    display: block;
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {

    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}



/*----------------------------------*/
/*Sign up sections*/
/*---------------------------------*/

.section-plans {

    background-color: #f4f4f4;
}

.plan-box {

    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow:0 2px 2px #efefef;
}



.plan-box div {

    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {

    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plac-price {

    font-size: 300%;
    margin-bottom: 10px;
    /* font-weight: 100; */
    color: #e67e22;
}

.plac-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul{
    list-style-type: none;
}

.plan-box ul li {
    
    padding: 5px 0;
}


/*----------------------------------*/
/*Form*/
/*---------------------------------*/

.contact-form {

    width: 60%;
    margin: 0 auto;
}

input[type='text'], input[type='email'], select, textarea {

    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {

    height: 100px;
}

input[type='checkbox'] {
    margin: 10px 5px 10px 0px;
}

*:focus {
    outline: none;
}

/*----------------------------------*/
/*footer*/
/*---------------------------------*/

footer {
    background-color: #333;
    padding: 60px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {

    list-style: none;
    float: right;
}

.footer-nav li, .social-links li{

    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {

    margin-right: 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {

    text-decoration: none;
    color: #888;
    border: 0;
    transition: color .2s;
}

.footer-nav li a:hover, .footer-nav li a:active, .social-links li a:hover, .social-links li a:active {

    color: #ddd;
}

.social-links li a:link, .social-links li a:visited {

    font-size: 170%;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}